.ag-theme-customized {
    --ag-grid-size: 1rem;
    --ag-border-color: red;
    --ag-font-size: 20rem;
}

.ag-theme-mycustomtheme .ag-header {
    /* or with CSS selectors targeting grid DOM elements */
    font-style: italic;
    color:purple !important;
}

.reference-listitem__link{
    color: var(--accent-color);
    font-size: 1.4rem;
}

.reference-listitem__nolink{
    color: var(--font-color-3);
    font-size: 1.4rem;
}

.typeSwitch{
    display: inline-flex;
    width: 100%;    
    margin-top: 1%;
    margin-bottom: 1%; 
    place-content: start space-evenly;
    font-size: 1.8rem; 
}

.dataSwitch-label__roads {
    color: #fff;
    font-weight: normal;
}

.dataSwitch-label__roads.switched {
    color: var(--accent-color-2);
    font-weight: normal;
    text-decoration: underline;
}

.dataSwitch-label__sites{
    color: var(--font-color-1);
    font-weight: normal;
}

.dataSwitch-label__sites.switched {
    color: var(--accent-color);
    font-weight: normal;
    text-decoration: underline;
}

.dataSwitch-btn{
    background-color: var(--accent-color-2);
    border: 1px solid #aaa;
    border-radius: 99px;
    width: 5rem;
    height: 2.8rem;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    box-shadow: 1px 1px 10 px rgba(0, 0, 0, 0.748);
    position: relative; 
}

.dataSwitch-btn .thumb {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border-radius: 99px;
    transition: left 0.15s ease;
    left: 3px;
    top: 0%;
}

.dataSwitch-btn.switched{    
    background-color: var(--accent-color);
}

.dataSwitch-btn:hover{
    border-color: #6f6f6f;
}

.dataSwitch-btn.switched .thumb{
    left: calc(2.6rem);
}