.wrapper {
  position: relative;
}

.infoMap {
  height: 76vh;
  width: 100%;
  z-index: var(--z-map);
}

.infoMap_adjusted {
  height: 40vh;
  width: 100%;
  z-index: var(--z-map);
}

.infoCard {
  color: black;
  font-size: 1.6rem;
  font-family: var(--project-font-family);
  position: absolute;
  z-index: 999;
  border: 2px solid darkgray;
  opacity: 0.9;
  top: 5px;
  bottom: 5px;
  right: 5px;
  width: 40%;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px var(--shadow-color);
  overflow: auto;
}

@media screen and (max-width: 850px) {
  .infoMap {
    height: 70vh;
  }

  .infoMap_adjusted {
    height: 35vh;
  }

  .infoCard{
    width: 45%;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  .infoMap {
    height: 64vh;
  }

  .infoMap_adjusted {
    height: 58vh;
  }
}