.popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    opacity: 0.9;
    text-align: center;
    height: 75%;
    margin-top: 0.5%;
    color: var(--font-color-3);
    width: auto;
    box-shadow: 0 0 10px 10px var(--shadow-color);
  } 

  .popup .leaflet-popup-tip-container {
    opacity: 0;
  }